# 数值运算

In [53]:
import pandas as pd
# df=pd.read_csv('../datasets/titanic.csv')

In [14]:
# 自定义
# columns 特征值
# index 索引
df=pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['A','B','C'])
df

   A  B  C
a  1  2  3
b  4  5  6

In [16]:
df.sum() #默认按列求和

A    5
B    7
C    9
dtype: int64

In [18]:
df.sum(axis=0) #按列求和

A    5
B    7
C    9
dtype: int64

In [26]:
df.sum(axis=1) #按行求和
df.sum(axis='columns') #按行求和

a     6
b    15
dtype: int64

In [34]:
df.mean(axis=1)
df.mean(axis=0)

A    2.5
B    3.5
C    4.5
dtype: float64

In [40]:
df.min(axis=1)
df.min(axis=0)

A    1
B    2
C    3
dtype: int64

# 二元统计

In [57]:
import pandas as pd
df=pd.read_csv('../datasets/titanic.csv')

In [49]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [73]:
#协方差 特征之间的相关差/相差系数
# df.cov()
# df.corr()

In [89]:
df['Age'].value_counts()
# 计算Age一列的值的次数 默认按出现的次数降序
# df['Age'].value_counts(ascending = True) #升序

Age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [97]:
df['Age'].value_counts(bins=5)
# 按最大最小分成五份

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: count, dtype: int64

In [101]:
#计数
df['Age'].count()
df['Pclass'].count()

891