In [1]:
import pandas as pd

In [86]:
data=[10,11,12]
index = ['a','b','c']
s=pd.Series(data=data,index=index)
s

a    10
b    11
c    12
dtype: int64

In [19]:
s['a'] 
#s[0] 即将被废弃

10

In [25]:
# 将为True对应的索引打印出来
mask=[True,False,True]
s[mask]

a    10
c    12
dtype: int64

In [35]:
# s.loc['a']
s.iloc[0]

10

In [41]:
s1=s.copy()
s1['a']=1000
s1

a    1000
b      11
c      12
dtype: int64

In [51]:
s1.replace(to_replace = 1000,value = 10,inplace = True)
s1

a    10
b    11
c    12
dtype: int64

In [53]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [61]:
# 查索引
s1.index=['b','c','d']
s1

b    10
c    11
d    12
dtype: int64

In [65]:
# 更改索引
s1.rename(index={'b':'B'},inplace = True)
s1

B    10
c    11
d    12
dtype: int64

In [118]:
s2=pd.Series([100,500],index=['g','h'])
s2

g    100
h    500
dtype: int64

In [94]:
s1.append(s2) # 报错

AttributeError: 'Series' object has no attribute 'append'

In [122]:
# 删除操作
s2.drop(['h'],inplace=True)
s2

KeyError: "['h'] not found in axis"

In [124]:
# DataFrame结构的增删改查
data =[[1,2,3],[4,5,6]]
index=['a','b']
columns=['A','B','C']
df=pd.DataFrame(data=data,index=index,columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [140]:
# A特征
df['A']

a    1
b    4
Name: A, dtype: int64

In [152]:
df.loc['a'] # 对应label a索引的一行
df.iloc[0] # 第一行

A    1
B    2
C    3
Name: a, dtype: int64

In [154]:
# 改操作

In [166]:
df.loc['a','A']=120
df

     A  B  C
a  120  2  3
b    4  5  6

In [170]:
df.index=['f','g']
df

     A  B  C
f  120  2  3
g    4  5  6

In [174]:
#增操作
df.loc['h']=[1,2,3]
df

     A  B  C
f  120  2  3
g    4  5  6
h    1  2  3

In [178]:
data =[[1,2,3],[4,5,6]]
index=['a','b']
columns=['A','B','C']
demo1=pd.DataFrame(data=data,index=index,columns=columns)
demo1

   A  B  C
a  1  2  3
b  4  5  6

In [180]:
data =[[1,2,3],[4,5,6]]
index=['g','h']
columns=['A','B','C']
demo2=pd.DataFrame(data=data,index=index,columns=columns)
demo2

   A  B  C
g  1  2  3
h  4  5  6

In [184]:
demo3=pd.concat([demo1,demo2])
demo3

   A  B  C
a  1  2  3
b  4  5  6
g  1  2  3
h  4  5  6

In [186]:
demo4=pd.concat([demo1,demo2],axis=1)
demo4

     A    B    C    A    B    C
a  1.0  2.0  3.0  NaN  NaN  NaN
b  4.0  5.0  6.0  NaN  NaN  NaN
g  NaN  NaN  NaN  1.0  2.0  3.0
h  NaN  NaN  NaN  4.0  5.0  6.0

In [192]:
demo3['DSS']=[1,2,3,4]
demo3

   A  B  C  DSS
a  1  2  3    1
b  4  5  6    2
g  1  2  3    3
h  4  5  6    4

In [194]:
data =[[1,2,3],[4,5,6]]
index=['a','b']
columns=['A','B','C']
demo1=pd.DataFrame(data=data,index=index,columns=columns)
demo1

   A  B  C
a  1  2  3
b  4  5  6

In [196]:
data =[[1,2,3],[4,5,6]]
index=['a','b']
columns=['E','F','H']
demo2=pd.DataFrame(data=data,index=index,columns=columns)
demo2

   E  F  H
a  1  2  3
b  4  5  6

In [200]:
demo3=pd.concat([demo1,demo2],axis=1)
demo3

   A  B  C  E  F  H
a  1  2  3  1  2  3
b  4  5  6  4  5  6

In [202]:
# 删操作 行
demo3.drop(['a'],axis=0,inplace=True)
demo3

   A  B  C  E  F  H
b  4  5  6  4  5  6

In [212]:
# 删操作 列
demo3.drop(['C','E'],axis=1,inplace=True)
demo3

KeyError: "['C', 'E'] not found in axis"