# 字符串操作

In [6]:
import pandas as pd
import numpy as np

s=pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [10]:
# 字符串转换
s.str.lower()

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [12]:
# 字符串多长
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [14]:
index=pd.Index(['   tang ','   yu  ','di   '])
index

Index(['   tang ', '   yu  ', 'di   '], dtype='object')

In [20]:
index.str.strip()
# index.str.lstrip()
# index.str.rstrip()

Index(['tang ', 'yu  ', 'di   '], dtype='object')

In [34]:
df=pd.DataFrame(np.random.randn(4,2),columns=['A a','B b'],index=range(4))
df

        A a       B b
0  0.468305  0.188207
1  1.329011  0.585613
2 -0.153646  0.818932
3 -0.730920 -0.251479

In [40]:
df.columns= df.columns.str.replace(' ','_')
df

        A_a       B_b
0  0.468305  0.188207
1  1.329011  0.585613
2 -0.153646  0.818932
3 -0.730920 -0.251479

In [44]:
s=pd.Series(['a_b_c','c_d_e','f_g_h'])
s

0    a_b_c
1    c_d_e
2    f_g_h
dtype: object

In [46]:
s.str.split('_')

0    [a, b, c]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [48]:
s.str.split('_',expand = True)

   0  1  2
0  a  b  c
1  c  d  e
2  f  g  h

In [50]:
s.str.split('_',expand = True,n=1)
# n 切的次数

   0    1
0  a  b_c
1  c  d_e
2  f  g_h

In [54]:
s=pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [56]:
s.str.contains('A')

0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

In [78]:
s=pd.Series(['a','a|b','a|a|a|a|c'])
s

0            a
1          a|b
2    a|a|a|a|c
dtype: object

In [84]:
s.str.get_dummies(sep='|')
#1:出现
#0:不出现

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1